<div class="body glass m-6 p-8 rounded-3xl">
  <div class="header mb-8">
    <img
      src="assets/david-headshot.png"
      class="rounded-full h-[200px] grayscale hover:grayscale-0 mb-2"
    />
    <h1 class="text-3xl">David Marshall - Software Engineer</h1>
    <h5 class="text-xs">
      My thoughts and musings as a web development teaching assistant
    </h5>
  </div>
  <div class="introduction mb-6">
    <h2 class="text-xl border-b-2 border-black">Introduction</h2>
    Welcome to my portfolio page! I'm excited to add on to this as I continue
    through the course along side y'all.
  </div>
  <div class="about-me mb-6">
    <h2 class="text-xl border-b-2 border-black">About me</h2>
    <div class="mb-4">
      Well, where do I even begin? I've done a lot, whether it's shoe shining,
      property management, car sales, or even being a touring musician!
      Currently, I'm a software engineer with H&R Block, a Teaching Assistant
      with Correlation One, and a freelance web developer. When I'm not working,
      I'm spending all of my free time with my family. I also really enjoy
      music, reading, and I've discovered a love for baking!
    </div>
    <div>
      Also, I greatly dislike LinkedIn, but you can find me <a href="https://linkedin.com/in/davidmarshalldev" class="underline">here</a>.
    </div>
  </div>
  <div class="sections mb-6">
    <h2 class="text-xl border-b-2 border-black">About the website</h2>
    <div class="section-one mb-4">
      Once I get this site up and running, I'll be posting more about my
      development journey, including some blog posts down below. Even though
      I've got professional experience, this doesn't mean I won't be learning
      anything! In fact, I expect to be learning a lot.
    </div>
    <div class="section-two">
      In addition, as we build projects, I'll be adding those to this site as
      well. I haven't looked too far ahead, so I'm interested to see what we'll
      be working on!
    </div>
  </div>
  <div class="blog mb-6">
    <h2 class="text-xl border-b-2 border-black">Blog</h2>
    <h3 class="text-lg font-bold">My first blog post: 08/08/2023</h3>
    <div>
      I've had a lot of jobs in my life, but being a teaching assistant takes
      the cake. (Baking pun intended.) I think the only thing I don't enjoy is
      that I can't really focus on the lessons as much as I'd like, since there
      are so many questions in the chat. Which, hey: that's my REAL job, not
      listening to the lecturer. But at the same time, I have to listen to help,
      right? So that's really what I'm trying to figure out, how to balance the
      two.
    </div>
    <div>In the meantime, I'll just keep enjoying the ride!</div>
  </div>
  <div class="cta">
    <h2 class="text-xl mb-4 border-b-2 border-black">Contact me</h2>
    <div class="mb-4">
      <label for="name" class="mr-4">Name: </label>
      <input type="text" name="name" class="border border-black rounded-xl" />
    </div>
    <div class="mb-4">
      <label for="email" class="mr-4">Email address:</label>
      <input type="email" class="border border-black rounded-xl" />
    </div>
    <button class="border border-black bg-white px-4 py-2 rounded-xl">
      Submit
    </button>
  </div>
</div>
